
.circleDiv {
    width: 300px;
    height: 300px;
    top: 0;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: #7676f5;
    left: 31.75%;
}

.circleDiv #mail-content {
    text-decoration: underline;
}